<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login page | <%=companyName%></title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Please log in to access these features</h1>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <% if(error){ %>
                        <div class="alert alert-danger"><%=error%></div>
                    <% } %>
                    <form method="POST" action="/login" class="border rounded p-5 mt-5">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" minlength="3" maxlength="30" required autofocus />
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" maxlength="256" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>