td.reserved{
    cursor: pointer;
}
.reserved:hover{
    background-color: lightgray; /* Bootstrapin table-hover toimii vain rivitasolla, joten tehdään oma */
}
.extraInfoAboutReservation{
    display: none;
}